# An example `.env` file to use with the default `docker-compose.yml`.
# Default values are optimized for production.

BUILD="0.0.1"

######### SECRETS #########

DATABASE_PASSWORD=""
BACKEND_SECRET_KEY=""

######### DATABASE #########

DATABASE_NAME="todo"
DATABASE_USER="todo"
DATABASE_HOST="database"
DATABASE_PORT=5432

######### BACKEND #########

BACKEND_ALLOWED_HOSTS=""
